:root {
    --primary-color: darkblue;
    --secondary-color: white;
    --border-color: #ccc;
    --background-light: #f9f9f9;
    --text-color-dark: #333;
    --shadow-color: gray;
    --padding-small: 10px;
    --padding-large: 20px;
    --image-width: 150px;
    --aside-width: 300px;
    --aside-img-width:200px;
}
nav {
    background-color : var(--primary-color);
    padding: var(--padding-small);
}
nav a {
    color: var(--secondary-color);
    display: block;
    padding: var(--padding-large);
}

h1{
    color: var(--primary-color);
}

main{
    width: 80%;
    margin: 0 auto;
}

main img {
    width: var(--image-width);
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px  var(--shadow-color);
}

p{
    padding: 0px;
}

aside{
    width: var(--aside-width);
    margin: var(--padding-large);
    border: 1px solid  var(--border-color);
    padding: var(--padding-small);
    background-color: var(--background-light);
    color: var(--text-color-dark);
}

aside img{
    width: var(--aside-img-width);
    height: auto;
}


aside p{
    padding: var(--padding-small);
}

footer{
    margin-top: var(--padding-large);
    border-top: 2px solid var(--border-color);
    text-align: center;
}